{% extends 'layouts/header.html' %}
{% load staticfiles %}

{% block title %}
    About me
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'About/about.css' %}">
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-5 about-block">
                <p class="bio">
                    BIO
                </p>
                <p>
                    {% if lang == 'uk' %}
                        {{ about_me.UkText }}
                    {% else %}
                        {% if about_me.EngText %}
                            {{ about_me.EngText }}
                        {% else %}
                            {{ about_me.UkText }}
                        {% endif %}
                    {% endif %}
                </p>
                <footer class="social">
                    <a href="https://www.instagram.com/antin_pronenko_artist/">
                        <i class="fa fa-2x fa-instagram" title="Instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/antin.pronenko">
                        <i class="fa fa-2x fa-facebook-square" title="Facebook"></i>
                    </a>
                    <a href="https://twitter.com/PronenkoAntin">
                        <i class="fa fa-2x fa-twitter" title="Twitter"></i>
                    </a>
                </footer>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
{% endblock %}