{% extends 'layouts/header.html' %}
{% load staticfiles %}

{% block title %}
    Lectures
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Lectures/lectures.css' %}">
{% endblock %}

{% block content %}
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-7">
                <div class="row">
                    {% for lecture in lecture_and_links %}
                        <div class="col-sm-12 lecture">
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if lang == 'uk' %}
                                        <p>{{ lecture.0.UkName }}</p>
                                    {% else %}
                                        {% if lecture.0.EngName %}
                                            <p>{{ lecture.0.EngName }}</p>
                                        {% else %}
                                            <p>{{ lecture.0.UkName }}</p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-6">
                                    {% for link in lecture.1 %}
                                        <a href="{{ link.Link }}">{{ link.Link }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}