.aside {
    padding-top: 25px;
    width: 23% !important;
}
.menu {
    list-style-type: none;
    padding-left: 30px;
    max-width: 75%;
    margin-top: 20px !important;
}
.menu li {
    font-family: karla, sans-serif;
    font-size: 14px;
    line-height: 1.9;
    cursor: pointer;
}
.menu li a {
    text-decoration: none !important;
    padding: 5px;
    color: #333 !important;
}
.menu li:hover a {
    background-color: #b7b7b7;
    color: white !important;
}
/*.menu__item a:hover {*/
    /*color: black !important;*/
/*}*/
.menu__item_nested {
    padding-left: 20px;
    display: none;
}
.menu__item_painting {
    padding-left: 40px;
    display: none;
}

.logo {
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 100%;
    padding-left: 30px;
    cursor: pointer;
    color: #333;
    font-size: 1.9em !important;
    /*line-height: 1.2 !important;*/
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#9d9e9a),
    to(#9d9e9a),
    color-stop(.6, #c5cbc5))
}