{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'layouts/header.css' %}">

    <!-- JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3 aside">
            <nav class="menu">
                <h2 class="logo">
                    Anton <br>
                    Pronenko
                </h2>
                <ul>
                    <li>
                        <div><a>Art Works</a></div>
                        <ul class="menu__block">
                            <li>
                                <div><a>Paintings</a></div>
                                <ul class="ul__block">
                                    <li><div><a>blue</a></div></li>
                                    <li><div><a>impression east</a></div></li>
                                    <li><div><a>Faces</a></div></li>
                                    <li><div><a>Sketches</a></div></li>
                                    <li><div><a>comfort zone</a></div></li>
                                </ul>
                            </li>
                            <li>
                                <div><a>DigitalPainting</a></div>
                            </li>
                            <li>
                                <div><a>graphics</a></div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div><a>Lectures</a></div>
                    </li>
                    <li>
                        <div><a>Videos</a></div>
                    </li>
                    <li>
                        <div><a>About me</a></div>
                    </li>
                </ul>
            </nav>
        </aside>
        {% block content %}
        {% endblock %}
    <script>
        $(document).ready(function () {
            $(".menu div").click(function () {
                $(this).parent().children("ul").slideToggle();
            });
        });
    </script>
</body>
</html>