{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'layouts/header.css' %}">

    <!-- JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3 aside">
            <nav>
                <h2 class="logo">
                    Anton <br>
                    Pronenko
                </h2>
                <ul class="menu">
                    <li><a>Art Works</a></li>
                    <li class="menu__item_nested"><a>Painting</a></li>

                    <li class="menu__item_painting"><a>Acryl</a></li>
                    <li class="menu__item_painting"><a>blue</a></li>
                    <li class="menu__item_painting"><a>impression east</a></li>
                    <li class="menu__item_painting"><a>Faces</a></li>
                    <li class="menu__item_painting"><a>Sketches</a></li>
                    <li class="menu__item_painting"><a>comfort zone</a></li>

                    <li class="menu__item_nested"><a>DigitalPainting</a></li>
                    <li class="menu__item_nested"><a>graphics</a></li>
                    <li><a>Lectures</a></li>
                    <li><a>Video</a></li>
                    <li><a>Texts</a></li>
                    <li><a>About me</a></li>
                </ul>
                {#        <footer class="social">#}
                {#            <a href="https://www.instagram.com/antin_pronenko_artist/">#}
                {#                <i class="fa fa-2x fa-instagram" title="Instagram"></i>#}
                {#            </a>#}
                {#            <a href="https://www.facebook.com/antin.pronenko">#}
                {#                <i class="fa fa-2x fa-facebook-square" title="Facebook"></i>#}
                {#            </a>#}
                {#            <a href="https://twitter.com/PronenkoAntin">#}
                {#                <i class="fa fa-2x fa-twitter" title="Twitter"></i>#}
                {#            </a>#}
                {#        </footer>#}
            </nav>
        </aside>
        {% block content %}
        {% endblock %}
    <script>
        $(document).ready(function () {
            {#var nested = ".menu__item_nested";#}
            $(".menu li:first").click(function () {
                {#if (!$(this).nextUntil('.menu__item_nested + .menu-block').siblings().length) {#}
                {#    return;#}
                {#console.log(this.nextAll('.menu__item_nested'));#}
                {#$(this).nextUntil('.menu__item_nested + .menu-block').slideToggle();#}
                $('.menu__item_nested').slideToggle();
            });
            $(".menu .menu__item_nested:first").click(function () {
                $('.menu__item_painting').slideToggle();
            });
        });
    </script>
</body>
</html>