{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'layouts/header.css' %}">

    <!-- JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3 aside">
            <nav>
                <h2 class="logo">
                    Anton <br>
                    Pronenko
                </h2>
                {#                <ul class="menu">#}
                {#                    <li><a>Art Works</a></li>#}
                {#                    <li class="menu__item_nested"><a>Painting</a></li>#}
                {##}
                {#                    <li class="menu__item_painting"><a>blue</a></li>#}
                {#                    <li class="menu__item_painting"><a>impression east</a></li>#}
                {#                    <li class="menu__item_painting"><a>Faces</a></li>#}
                {#                    <li class="menu__item_painting"><a>Sketches</a></li>#}
                {#                    <li class="menu__item_painting"><a>comfort zone</a></li>#}
                {##}
                {#                    <li class="menu__item_nested"><a>DigitalPainting</a></li>#}
                {#                    <li class="menu__item_nested"><a>graphics</a></li>#}
                {#                    <li><a>Lectures</a></li>#}
                {#                    <li><a>Video</a></li>#}
                {#                    <li><a>About me</a></li>#}
                {#                </ul>#}
                <ul class="menu">
                    {% for block in blocks %}
                        {% if lang == 'uk' %}
                            <li><a href="http://localhost:8000/{{ lang }}/{{ block.Block_URL }}">{{ block.UkName }}</a></li>
                        {% else %}
                            <li><a href="http://localhost:8000/{{ lang }}/{{ block.Block_URL }}">{{ block.EnName }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </aside>
        {% block content %}
        {% endblock %}
        <script>
            $(document).ready(function () {
                {#var nested = ".menu__item_nested";#}
                $(".menu li:first").click(function () {
                    {#if (!$(this).nextUntil('.menu__item_nested + .menu-block').siblings().length) {#}
                    {#    return;#}
                    {#console.log(this.nextAll('.menu__item_nested'));#}
                    {#$(this).nextUntil('.menu__item_nested + .menu-block').slideToggle();#}
                    $('.menu__item_nested').slideToggle();
                });
                $(".menu .menu__item_nested:first").click(function () {
                    $('.menu__item_painting').slideToggle();
                });
            });
        </script>
</body>
</html>