body {
    margin: 0;
    padding: 0;
}
.gallery {
    padding-top: 40px;
}
.image-block {
    width: 31% !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.item {
    /*vertical-align: baseline !important; *!*/
    width: 100%;
    height: 38vh;
    margin: 10px 0;
    /*transition: 0.5s ease all;*/
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: top;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.gallery .row div:hover .item {
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3);
}

/*!*#photos img:hover {*!*/
    /*!*outline: 0;*!*/
    /*!*-webkit-filter: brightness(1.3);*!*/
    /*!*filter: brightness(1.3);*!*/
    /*!*!*transform: scale(1.5);*!*!*/
    /*!*!*position: relative;*!*!*/
    /*!*!*z-index: 1000;*!*!*/
    /*!*cursor: pointer;*!*/
/*!*}*!*/
/*.item {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*width: 100%;*/
/*}*/
/*.item img {*/
    /*!*max-width: 100%;*!*/
    /*opacity: 1;*/

    /*-moz-transition: all 0.3s ease-out;*/
    /*-webkit-transition: all 0.3s ease-out;*/
    /*transition: all 0.3s ease-out;*/
    /*width: 100% !important;*/
    /*height: auto !important;*/
    /*margin: 10px 0;*/
    /*outline: 4px solid lightgray;*/
/*}*/
/*.item:hover img {*/
    /*-moz-transform: scale(1.2);*/
    /*-webkit-transform: scale(1.2);*/
    /*transform: scale(1.2);*/
    /*cursor: pointer;*/
    /*-webkit-filter: brightness(1.3);*/
    /*filter: brightness(1.3);*/
    /*outline: 0;*/
/*}*/
/*.item:hover .fa-search-plus {*/
    /*opacity: 1;*/
/*}*/
/*.item:hover .overlay {*/
    /*opacity: 0.4;*/
/*}*/


/*.overlay {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*opacity: 0;*/
    /*transition: .5s ease;*/
    /*cursor: pointer;*/
/*}*/
/*.fa-search-plus {*/
    /*transition: .5s ease;*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*text-align: center;*/
    /*color: white;*/
/*}*/




#overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.image-opened {
    background-color: white;
     height: 100%;
    position: absolute;
    left: 20%;
    right: 20%;
    color: black;
     /*transform: translate(-50%,-50%); */
    /*-ms-transform: translate(-50%,-50%);*/
    width: 60%;
}
.image-opened__image {
    height: 500px;
    /* width: auto; */
    max-height: 75%;
    background-size: contain;
    background-position: center;
    /* max-width: 75%; */
    background-repeat: no-repeat;
    display: block;
    margin: 60px auto 0 auto;
    /* position: absolute; */
    /* top: 30%; */
    /* left: 50%; */
    /* transform: translate(-50%,-30%); */
    /* -ms-transform: translate(-50%,-30%); */
}
.image-opened__close {
    float: right;
    font-size: 60px;
    margin-right: 25px;
}
.image-opened__close:hover {
    color: #9d9e9a;
}
.image-opened__description {
    text-align: center;
    font-size: 15px;
    color: #444;
    padding-top: 15px;
}